<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="template :: heads(pageTitle = 'Sucursales')"></div>
</head>
<body>
    <div th:replace="template :: navbar"></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div th:if="${success != null}">
                    <div class="alert mb-2" th:classappend="${success}? alert-success : alert-warning" th:text="${message}">
                        Mensaje
                    </div>
                </div>
                <div th:if="${messageFailLoad != null}">
                    <div class="alert mb-2 alert-danger" th:text="${messageFailLoad}">
                        Mensaje
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <h2>Sucursales</h2>
            </div>
            <div class="col-auto">
                <a th:href="@{/stores/add}" class="btn btn-outline-success" title="Agregar"><i class="fas fa-plus"></i> sucursal</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-info">
                                <th>Nombre</th>
                                <th>Ubicación</th>
                                <th>Gerente</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="store : ${stores}">
                                <td th:text="${store.name}" class="align-middle">Nombre</td>
                                <td th:text="${store.address}" class="align-middle">Dirección</td>
                                <td th:text="${store.manager}" class="align-middle">Gerente</td>
                                <td class="align-middle">
                                    <a th:href="@{/stores/detail/{id}(id=${store.code})}" class="btn btn-outline-secondary">Ver perfil</a>
                                    <a th:href="@{/stores/edit/{id}(id=${store.code})}" class="btn btn-outline-info" title="Editar">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a th:href="@{/stores/delete/{id}(id=${store.code})}" class="btn btn-outline-danger" title="Eliminar">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>