<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="template :: heads(pageTitle = 'Perfil de sucursal')"></div>
</head>
<body>
    <div th:replace="template :: navbar"></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div th:if="${success != null}">
                    <div class="alert mb-2" th:classappend="${success}? alert-success : alert-warning" th:text="${message}">
                        Mensaje
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <a th:href="@{/stores}" class="btn btn-outline-secondary">Regresar</a>
                    </div>
                    <div class="col">
                        <h2>Perfil de sucursal</h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-md">
                        <strong>Nombre:</strong> <span th:text="${{store.name}}">Rústico</span>
                        <hr>
                    </div>
                    <div class="col-12 col-md">
                        <strong>Gerente:</strong> <span th:text="${{store.manager}}"></span>
                        <hr>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 col-md">
                        <strong>Dirección:</strong> <span th:text="${{store.address}}"></span>
                        <hr>
                    </div>
                    <div class="col-12 col-md">
                        <strong>Mesas en establecimiento:</strong> <span th:text="${{store.numTables}}"></span>
                        <hr>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 col-md">
                        <strong>Horario(s):</strong>
                        <ul>
                            <li th:each="schedule : ${store.schedulesDelegate}" th:text="${schedule}">Horario disponible</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6 align-self-start">
                        <h3>Empleados de la sucursal</h3>
                    </div>
                    <div class="col-12 col-md-6 align-self-end text-md-right">
                        <form th:action="@{/employees/add}" method="POST">
                            <input type="hidden" name="storeId" th:value="${store.code}">
                            <button type="submit" class="btn btn-outline-success">
                                <i class="fas fa-plus"></i> Empleado
                            </button>
                        </form>
                        </a>
                    </div>
                </div>
                <div class="table-responsive mt-2">
                    <table class="table table-bordered">
                        <caption>Cantidad: <span th:text="${#lists.size(store.employees)}">Value</span></caption>
                        <thead>
                            <tr class="table-info">
                                <th>Empleado</th>
                                <th>Edad</th>
                                <th>Sexo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="employee : ${store.employees}">
                                <td th:text="${employee.name}">Nombre de empleado</td>
                                <td th:text="${employee.age}">>=18</td>
                                <td th:text="${employee.gender}">M o F</td>
                                <td th:text="${employee.statusDelegate}" th:class="${employee.status}? text-success : text-secondary">Activo o Inactivo</td>
                                <td>
                                    <a th:href="@{/employees/edit/{id}(id=${employee.code})}" class="btn btn-outline-info" title="Editar">
                                        <i class="far fa-edit"></i> Editar
                                    </a>
                                    <a th:href="@{/employees/delete/{id}(id=${employee.code})}" class="btn btn-outline-danger" title="Eliminar">
                                        <i class="far fa-trash-alt"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>